<footer>
    <div class="redes-footer">
      <a class="a-link-footer" [href]="miPortfolio.github" target="_blank" rel="noopener noreferrer">
        <i class="icono fab fa-github"></i>
      </a>
      <a class="a-link-footer" [href]="miPortfolio.linkedin" target="_blank" rel="noopener noreferrer">
        <i class="icono fab fa-linkedin"></i>
      </a>
      <a class="a-link-footer" href="" target="_blank" rel="noopener noreferrer">
        <i class="icono fas fa-envelope"></i>
      </a>
    </div>
  </footer>
