<div class="about" id="about">
    <div class="perfil">
      <img src="../../../assets/img/perfil/perfil-portfolio-sm.png" alt="">
      <h2>Beatriz Garcia</h2>
    </div>
    <div class="descripcion">
      <p>
        Hola, soy Beatriz! Actualmente me encuentro cursando la carrera Ingenieria
        en Computación en la UNT. Ademas realizo cursos extras sobre software. Me llama 
        mucho la atencion todo el mundo de desarrollo de software, sobre todo BackEnd.
      </p>
    </div>
  </div>
