<div class="seccion skills" id="skills">
    <h2>Skills</h2>
    <div class="skill-top">
      <div class="skill">
        <i class="icono-skill fab fa-html5"></i>
        <p class="mensaje">HTML5</p>
      </div>
      <div class="skill">
        <i class="icono-skill fab fa-css3-alt"></i>
        <p class="mensaje">CSS3</p>
      </div>
      <div class="skill">
        <i class="icono-skill fab fa-sass"></i>
        <p class="mensaje">SASS</p>
      </div>
      <div class="skill">
        <i class="icono-skill fab fa-js-square"></i>
        <p class="mensaje">Javascript</p>
      </div>
    </div>
    <div class="skill-bottom">
      <div class="skill">
        <i class="icono-skill fab fa-java"></i>
        <p class="mensaje">Java</p>
      </div>
      <div class="skill">
        <i class="icono-skill fas fa-database"></i>
        <p class="mensaje">MySQL</p>
      </div>
      <div class="skill">
        <i class="icono-skill fab fa-angular"></i>
        <p class="mensaje">Angular</p>
      </div>
      <div class="skill">
        <i class="icono-skill fab fa-git-alt"></i>
        <p class="mensaje">Git/GitHub</p>
      </div>
    </div>
  </div>